<html lang="en">
  <body>
    <div class="content flex flex-col h-full justify-center items-center py-24">
      <div
        class="card flex flex-col w-5/6 h-max shadow-md rounded-lg p-8 my-8 bg-indigo-50"
      >
        <!-- Title -->
        <h1 class="flex font-semibold text-2xl border-b-2 align-text-bottom">
          Job Preview
        </h1>
        <div class="card__sections flex flex-col h-full pt-3 justify-between">
          <!-- row 1 -->
          <div class="grid grid-cols-3 gap-3 h-full">
            <% if (jobrequests.length > 0) { %> <%
            jobrequests.forEach(jobrequest => { %>
            <!-- card 1 -->
            <div
              class="flex flex-col w-12/12 h-max rounded-lg shadow-lg truncate"
            >
              <div class="flex-shrink-0">
                <div class="flex-1 bg-white p-6 flex flex-col justify-between">
                  <div class="flex-1">
                    <p
                      class="w-max text-xl font-semibold text-indigo-800 uppercase"
                    >
                      <%= jobrequest.title %>
                    </p>

                    <a
                      href="/jobrequests/findJobrequestById/<%= jobrequest.id %>"
                    >
                      <p class="mt-3 text-indigo-800 text-sm">
                        ContractorID:
                        <span class="text-gray-700"
                          ><%= jobrequest.contractorID %></span
                        >
                      </p>
                      <p class="mt-3 text-indigo-800 text-sm">
                        Description:
                        <span class="text-gray-700"
                          ><%= jobrequest.description %></span
                        >
                      </p>
                      <p class="w-max text-indigo-800 text-sm">
                        Status:
                        <span class="text-gray-700"
                          ><%= jobrequest.status %></span
                        >
                      </p>
                      <p class="w-max text-indigo-800 text-sm">
                        Complexity:
                        <span class="text-gray-700"
                          ><%= jobrequest.complexity %></span
                        >
                      </p>
                      <p class="w-max text-indigo-800 text-sm">
                        Date posted:
                        <span class="text-gray-700"
                          ><%= jobrequest.startDate %></span
                        >
                      </p>
                    </a>
                  </div>
                </div>
              </div>
              <!-- card 1 end -->
            </div>
            <% }) %> <% } else { %>
            <p>There are no Jobs to display...</p>
            <% } %>
          </div>
        </div>
      </div>
      <!-- Pagination -->
      <div class="px-4 py-3 flex justify-center border-gray-200 sm:px-6 mt-10">
        <nav
          class="px-4 py-3 flex items-center justify-between border-gray-200 sm:px-6"
        >
          <% if (pages > 0) { %>
          <ul class="inline-flex -space-x-px">
            <% if (current == 1) { %>
            <li class="disabled">
              <a
                class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50"
                >First</a
              >
            </li>
            <% } else { %>
            <li>
              <a
                class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50"
                href="/jobrequests/searchJobs/1"
                >First</a
              >
            </li>
            <% } %> <% var i = (Number(current) > 5 ? Number(current) - 4 : 1)
            %> <% if (i !== 1) { %>
            <li class="disabled">
              <a
                class="bg-white border-gray-300 text-gray-500 hover:bg-gray-50 relative inline-flex items-center px-4 py-2 border text-sm font-medium"
                >...</a
              >
            </li>
            <% } %> <% for (; i <= (Number(current) + 4) && i <= pages; i++) {
            %> <% if (i == current) { %>
            <li class="active">
              <a
                aria-current="page"
                class="z-10 bg-indigo-50 border-indigo-500 text-indigo-600 relative inline-flex items-center px-4 py-2 border text-sm font-medium"
                ><%= i %></a
              >
            </li>
            <% } else { %>
            <li>
              <a
                class="bg-white border-gray-300 text-gray-500 hover:bg-gray-50 relative inline-flex items-center px-4 py-2 border text-sm font-medium"
                href="/jobrequests/searchJobs/<%= i %>"
                ><%= i %></a
              >
            </li>
            <% } %> <% if (i == Number(current) + 4 && i < pages) { %>
            <li class="disabled">
              <a
                class="bg-white border-gray-300 text-gray-500 hover:bg-gray-50 relative inline-flex items-center px-4 py-2 border text-sm font-medium"
                >...</a
              >
            </li>
            <% } %> <% } %> <% if (current == pages) { %>
            <li class="disabled">
              <a
                class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50"
                >Last</a
              >
            </li>
            <% } else { %>
            <li>
              <a
                class="bg-white border-gray-300 text-gray-500 hover:bg-gray-50 relative inline-flex items-center px-4 py-2 border text-sm font-medium"
                href="/jobrequests/searchJobs/<%= pages %>"
              >
                Last
              </a>
            </li>
            <% } %>
          </ul>
          <% } %>
        </nav>
      </div>
      <!-- End of Pagination -->
    </div>
  </body>
</html>
